/* global settings */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

html {
  font-size: 10px;
}

:root {
  --main-color:#6495ED;
  --blackChoclate: #1B1811;
  --second-color: #aaaaaaaa;
}

*::selection {
  background-color: var(--blackChoclate);
}

/* display settings */

body {
  margin: 0;
  /* height: auto; */
  font-family: "Montserrat", sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
header {
  width: 100%;
  height: 10vh;
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}


#icon {
  background-image: url('./logo.png');
  filter: grayscale(0.5);
  background-color: white;
  border-radius: 50%;
  height: 8vh;
  width: 8vh;
  margin-left: 10vw;
  background-size: cover;
  background-repeat: no-repeat;
} 

h2 {
  text-align: center;
  margin: 2vh 0 0 110%;
  color: white;
  font-size: 2rem;
}

/* add comment and input styling*/

.input-user {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
}

#comment-from-user {
  color: white;
  font-size: 2rem;
  width: 80%;
  border-radius: 2rem;
  padding: 1rem;
  background: var(--second-color);
  border: .5rem solid var(--main-color);
}

#comment-from-user::placeholder {
  font-weight: bolder;
  color: white;
}

#comment-from-user:focus {
  background-color: var(--blackChoclate);
  border: .5rem solid var(--main-color);
  outline: none;
}

#btn-add {
  background-color: var(--main-color);
  margin-left: 3rem;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  border: 0;
  border-radius: 2rem;
  box-shadow: 1.5rem 0.5rem 0.3rem 0.1rem #445569dd;
  cursor: pointer;
}

#btn-add:hover {
  background-color: var(--blackChoclate);
}

#btn-add:active {
  background-color: var(--blackChoclate);
  box-shadow: 0 0 0 0;
  transform: translate(1.5rem, 0.5rem);
}

/* display comments styling */
#show-comments {
  background-color: transparent;
  padding: 1rem;
  visibility: hidden;
}

.all-items {
  background-color: var(--second-color);
  display: flex;
  width: 75vw;
  border: .5rem solid var(--main-color);
  padding: 3rem;
  margin-bottom: 1rem;
  animation: opacityAnimation 1s ease-in;
}

@keyframes opacityAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.div-img {
  margin-right: 5rem;
}

img {
  height: 100px;
  border-radius: 50%;
}

.h3-email {
  color: white;
  font-family: inherit;
  font-size: 1.5rem;
}

.p-comment {
  color: white;
  width: auto;
  height: auto;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: bolder;
  overflow-y: hidden;
}

.delete-btn {
  background-color: #e55b7f;
  margin-left: 3rem;
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  border: 0;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0.3rem 0.1rem #445569dd;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: var(--blackChoclate);
}

.delete-btn:active {
  background-color: var(--blackChoclate);
  box-shadow: 0 0 0 0;
  transform: translate(0.5rem, 0.5rem);
}

@media screen and (max-width:500px) {
  .all-items {
    padding: 1rem
  }
  .input-user{
    height: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #btn-add {
    margin: 0;
  }
  img {
    height: 50px;
  }
  .delete-btn {
    padding: .5rem
  }
  .div-img{
    margin-right: 1rem;
  }
}

@media screen and (max-width:800px) {
  .p-comment{
    font-size: 1.6rem;
  }
}
